@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --color-main: #EB4424;
    --color-background: #0F0909;
    --color-background-light: #161111;
    --color-gray: #403B3B;
    --color-button: #867e7e;
    --color-white: #E7E7E7;
}

*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: var(--color-background);
    margin: 0;
    padding: 15px;
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: 380px 1fr;
    grid-template-rows: 20px 1fr minmax(50px, auto);
    grid-template-areas:
        "queue header"
        "queue content"
        "footer footer";
    grid-row-gap: 15px;
    grid-column-gap: 15px;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: var(--color-background-light);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-gray);
    border-radius: 10px;
}

::-webkit-scrollbar-corner {
    display: none;
}

ion-icon{
    color: var(--color-button);
}

button{
    cursor: pointer;
}

.main-title{
    color: var(--color-white);
    font-weight: 500;
    font-size: 18px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    transform: translateX(-50%);
    z-index: -1;
}

.main-title-sub{
    font-weight: 300;
    letter-spacing: 1px;
    opacity: 0.8;
    margin-left: 5px;
}

.header{
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar{
    grid-column: 4;
    justify-self: end;
    height: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
}

.navbar-link{
    text-decoration: none;
    color: var(--color-white);
    cursor: pointer;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
}

.navbar-link:hover{
    color: var(--color-main);
}

.queue-container{
    background-color: green;
    grid-area: queue;
    display: flex;
    flex-direction: column;
    position: relative;
}

.queue-list{
    list-style: none;
    padding: 0;
    width: 100%;
    flex-grow: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}

.queue-list::before, .queue-list::after{
    content: "";
    position: sticky;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 8px;
    background: 
        linear-gradient(
            0deg,rgb(0, 0, 0, 0), var(--color-background-light)
        );
}

.queue-loop-one::before, .queue-loop-all::before{
    content: "Repeat queue";
    color: var(--color-white);
    background-color: var(--color-main);
    width: fit-content;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 2px 5px;
    border-radius: 7px;
    font-size: 14px;
}

.queue-loop-one > .queue-list li:first-of-type> .queue-item-index{
    color: var(--color-main);
}

.queue-loop-all > .queue-list li> .queue-item-index{
    color: var(--color-main);
}

.queue-list::after{
    bottom: 0;
    background: 
        linear-gradient(
            180deg,rgb(0, 0, 0, 0), var(--color-background-light)
        );
}

.queue-item{
    width: 100%;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.queue-item:hover > .queue-item-controls{
    display: flex;
}

.queue-item-controls{
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    backdrop-filter: blur(2px) invert(4%);
    border-radius: 14px;
    justify-content: center;
    align-items: center;
}

.queue-item-button{
    display: flex;
    background-color: var(--color-main);
    border: none;
    border-radius: 14px;
    height: 32px;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    padding: 0 15px;
    margin: 0 15px;
}

.queue-item-button:hover{
    transform: scale(1.05);
}

.queue-item-index{
    text-align: right;
    width: 30px;
    color: var(--color-button);
    font-size: 14px;
    direction: rtl;
}

.queue-item-image{
    object-fit: cover;
    aspect-ratio: 1 / 1;
    width: 40px;
    margin: 0 16px;
}

.queue-item-text-wrapper{
    display: flex;
    flex-direction: column;
}

.queue-item-title{
    font-size: 14px;
    color: var(--color-white);
    font-weight: 500;
    padding: 0;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 252px;
}

.queue-item-artist{
    font-size: 12px;
    color: var(--color-button);
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.queue-stop-button{
    background-color: var(--color-main);
    border-radius: 15px;
    color: var(--color-white);
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    min-height: 48px;
    width: 100%;
    border: none;
    transition: all 0.2s;
}

.queue-stop-button:hover{
    scale: 1.01;
}

.content-container{
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(120px, auto) 1fr;
    grid-template-areas:
        "input recommendations"
        "filters recommendations";
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 2vw;
}

.content-container{
    position: relative;
}

.input-container{
    grid-area: input;
    padding: 15px;
}

.input-wrapper{
    background-color: var(--color-background-light);
    height: 40px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    margin-top: 15px;
    max-width: 90%;
    min-width: 400px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.3);
}

.input-icon-wrapper{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.input-icon{
    color: var(--color-white);
    font-size: 24px;
}

.input-core{
    background-color: transparent;
    height: 100%;
    width: 100%;
    padding: 0;
    border: 0;
    color: var(--color-white);
}

.input-core:focus{
    outline: none;
}

.input-button{
    background-color: var(--color-main);
    border: none;
    height: 100%;
    width: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 14px 14px 0;
}

.filters-container{
    padding: 0 0 0 15px;
    grid-area: filters;
}

.filters-list{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    grid-row-gap: 13px;
    grid-column-gap: 10px;
    padding: 0;
}

.filter-element{
    color: var(--color-white);
    max-width: 168px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 15px;
}

.filter-checkbox{
    width: 37px;
    height: 21px;
    margin: 0;
    outline: none;
    border: none;
    position: relative;
    cursor: pointer;
    visibility: hidden;
}

.filter-checkbox::before{ 
    width: 32px;
    height: 6px;
    content: "";
    background-color: var(--color-button);
    position: absolute;
    border-radius: 15px;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.2s;
    visibility: visible;
}

.filter-checkbox:checked::before{ 
    background-color: var(--color-main);
}

.filter-checkbox::after{ 
    width: 15px;
    height: 15px;
    content: "";
    position: absolute;
    border-radius: 100%;
    background-color: var(--color-white);
    transform: translateY(25%);
    transition: transform 0.2s;
    visibility: visible;
}

.filter-checkbox:checked::after{ 
    transform: translate(116%) translateY(25%);
}

.filter-checkbox-inactive::before{
    background-color: #D3D3D3 !important;
}

.filter-checkbox-inactive{
    cursor: none;
    pointer-events: none;
}

.recommendations-container{
    padding: 0 0 0 15px;
    grid-area: recommendations;
}

.recommendations-list{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
}

.recommendations-element{
    display: flex;
    height: 56px;
    width: fit-content;
    align-items: center;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.recommendations-element:hover::after{
    content: "";
    background-color: var(--color-background-light);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    border-radius: 4px;
}

.recommendations-element-img{
    aspect-ratio: 1/1;
    width: 40px;
    height: 40px;
    margin: 0 16px 0 0;
}

.recommendations-element-text-wrapper{
    display: flex;
    flex-direction: column;
}

.recommendations-element-title{
    font-size: 14px;
    color: var(--color-white);
    font-weight: 500;
    padding: 0;
    margin: 0;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    white-space: unset;
    word-break: break-all;
    overflow: hidden;
    
}

.recommendations-element-authors{
    font-size: 12px;
    color: var(--color-button);
    font-weight: 400;
    padding: 0;
    margin: 0;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    white-space: unset;
    word-break: break-all;
    overflow: hidden;
}

.recommendations-auth-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 15px 15px 15px;
}

.spotify-auth-wrapper{
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    row-gap: 10px;
}

.recommendations-auth-logo{
    width: 220px;
}

.recommendations-auth-button{
    background-color: #1DB954;
    text-decoration: none;
    color: var(--color-background);
    font-weight: 600;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 4 / 1;
    border-radius: 25px;
    font-size: 1em;
}

.footer{
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr repeat(3, auto) 1fr;
    align-items: flex-end;
    position: relative;
}

.footer::before{
    content: "";
    background: 
        linear-gradient(
            180deg,rgb(0, 0, 0, 0), var(--color-background)
        );
    height: 15px;
    width: calc(100% - 380px);
    z-index: 999;
    position: absolute;
    top: -30px;
    right: 0;
}

.body-card{
    background-color: var(--color-background-light);
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.3);
    padding: 15px 15px 15px 15px;
}

.title{
    color: var(--color-white);
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    white-space:nowrap;
}

.now-playing-wrapper{
    width: 380px;
    height: fit-content;
}

.now-playing-title{
    color: var(--color-white);
    font-weight: 300;
    font-size: 14px;
}

.controls{
    width: 380px;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.control-button{
    background-color: transparent;
    border-radius: 100%;
    aspect-ratio: 1 / 1;
    width: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    border: none;
}

.button-play-pause{
    background-color: var(--color-main);
}

.button-play-pause:hover > ion-icon{
    color: var(--color-background) !important;
}

.button-play-pause:hover{
    scale: 1.04;
}

.control-button:hover > ion-icon{
    color: var(--color-white);
}

.control-button ion-icon{
    font-size: 1.4em;
}

ion-icon[name="play-sharp"]{
    margin: 0 0 0 3px; 
}

ion-icon[name="play-sharp"], ion-icon[name="pause-sharp"]{
    color: var(--color-background);
}

.control-button-repeat{
    font-size: 0.9em;
    position: relative;
    cursor: pointer;
}

.control-button-repeat:hover > .repeat-wrapper{
    display: grid;
}

.repeat-wrapper{
    background-color: var(--color-main);
    height: 50px;
    display: none;
    position: absolute;
    padding: 5px;
    border-radius: 25px;
    grid-template-columns: repeat(3, minmax(50px, auto));
    top: -35px;
}

.repeat-button{
    border: none;
    background-color: transparent;
    color: var(--color-white);
}

.repeat-button:hover{
    transform: scale(1.05);
}

@media (max-width: 1500px) {
    .filters-list{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1170px) {
    .content-container{
        grid-template-columns: 1fr;
        grid-template-rows: minmax(120px, auto) 1fr 1fr;
        grid-template-areas:
            "input "
            "filters"
            "recommendations";
        align-items: center;
        grid-row-gap: 20px;
    }
    .filters-list{
        grid-template-columns: repeat(3, 1fr);
    }
    .footer{
        grid-template-columns: 1fr 1fr;
    }
    .input-wrapper{
        max-width: inherit;
    }
}

@media (max-width: 950px) {
    .filters-list{
        grid-template-columns: repeat(2, 1fr);
    }
}