<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guild</title>
    <base href="/"> 
    <link rel="stylesheet" href="Css/Guild/Dashboard.css">
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous" defer></script>
    <script src="Js/Guild/DashboardController.js" defer></script>
</head>
<body>
    <nav>
        <div class="nav-left">
            <span class="nav-name">NoraDJ</span>
            <span class="nav-subname">Dashboard</span>
        </div>
        <div class="nav-right">
            <% if(avatarUrl) { %>
                <div class="nav-servericon" data-name="<%- name %>">
                    <img src="<%- avatarUrl %>" alt="Server icon">
                </div>
            <% } %>
            <button class="btn btn-default">Change server</button>
            <button class="btn btn-warning">Sign out</button>
        </div>
    </nav>
    <main>
        <div class="main-container">
            <div class="module">
                <div class="module-title">Now playing:</div>
                <div class="module-mid">                    
                    -//-
                </div>
                <div class="module-bottom">
                    <button class="btn btn-default">Play</button>
                    <button class="btn btn-default">Pause</button>
                    <button class="btn btn-default">Skip</button>
                </div>
            </div>
        </div>
        <div class="module">
            <div class="module-title">Add song or playlist</div>
            <div class="module-mid">
                <input type="text">
                <button onclick="playSong();">ADD</button>
            </div>
        </div>
        <div class="main-sidebar">
            <div class="sidebar-title">
                Queue
            </div>
            <div class="sidebar-content">
                <ul>
                    <li>song1</li>
                    <li>song2</li>
                </ul>
            </div>
        </div>
    </main>
</body>
</html>