<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <base href="/"> 
    <link rel="stylesheet" href="Css/Guild/Dashboard.css">

    <script src="Js/Lib/Snackbar/js-snackbar.js" defer></script>
    <link rel="stylesheet" href="Js/Lib/Snackbar/js-snackbar.css">

    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous" defer></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script src="Js/Dashboard/FiltersController.js" defer></script>
    <script src="Js/Dashboard/QueueController.js" defer></script>
    <script src="Js/Dashboard/NowPlaying.js" defer></script>
    <script src="Js/Dashboard/DomElements.js" defer></script>
    <script src="Js/Dashboard/WebsocketController.js" defer></script>
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <a href="/" class="navbar-link">Audit log</a>
            <a href="/" class="navbar-link">Change server</a>
            <a href="/" class="navbar-link">Sign out</a>
        </nav>
    </header>

    <h1 class="main-title">Nora Music <span class="main-title-sub">Studio</span></h1>

    <div class="queue-container body-card"> <!-- queue-loop-all queue-loop-one -->
        <h1 class="title">Queue</h1>
        <ul class="queue-list">
            <script>
                // for (let index = 0; index < 50; index++) {
                //     document.write(`
                //     <li class="queue-item">
                //         <span class="queue-item-index">${index + 1}</span>
                //         <img src="https://i.ytimg.com/vi_webp/4SvdaWekDJI/maxresdefault.webp" alt="" class="queue-item-image">
                //         <div class="queue-item-text-wrapper">
                //             <h4 class="queue-item-title">Gzuz & Bonez - YumYum (Original)</h4>
                //             <span class="queue-item-artist">CrhymeTV</span>
                //         </div>
                        
                //         <div class="queue-item-controls">
                //             <button class="queue-item-button">Remove</button>  
                //             <button class="queue-item-button">Jump to</button>  
                //         </div>
                //     </li>
                //     `)
                // }
            </script>
        </ul>
        <button class="queue-stop-button">Stop queue</button>
    </div>

    <div class="content-container">
        <div class="input-container">
            <h1 class="title">Add song</h1>

            <div class="input-wrapper">
                <span class="input-icon-wrapper">
                    <input type="text" class="input-core" placeholder="Search" style="padding-left:15px">
                </span>
                <button class="input-button"><ion-icon name="search-sharp" class="input-icon"></ion-icon></button>
            </div>
            
        </div>
        <div class="filters-container">
            <h1 class="title">Filters</h1>
            <ul class="filters-list"></ul>
        </div>
        <div class="recommendations-container">
            <h1 class="title">Recommended songs</h1>
            <ul class="recommendations-list" style="display: none;">
                <script>
                    for (let index = 0; index < 10; index++) {
                        document.write(`
                        <li class="recommendations-element">
                            <img class="recommendations-element-img" src="https://i.scdn.co/image/ab67616d0000b273ff95d6da36363251247978a4" alt="Spotify cover">
                            <div class="recommendations-element-text-wrapper">
                                <h4 title="WDYW (feat. Lil Uzi Vert, A$AP Ferg & Rich The Kid)" class="recommendations-element-title">WDYW (feat. Lil Uzi Vert, A$AP Ferg & Rich The Kid)</h4>
                                <span class="recommendations-element-authors">Carnage, Lil Uzi Vert, A$AP Ferg, Rich The Kid</span>
                            </div>
                        </li>
                        `)
                    }
                </script>
            </ul>
            <div class="recommendations-auth-container">
                <div class="spotify-auth-wrapper">
                    <img src="Img/Guild/Spotify_Logo_RGB_Green.png" alt="Spotify logo" class="recommendations-auth-logo">
                    <a href="/login/auth/spotify" class="recommendations-auth-button">Connect</a>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="now-playing-wrapper body-card">
            <h1 class="title">Now playing</h1>
            <span class="now-playing-title">Pouya & Boobie Lootaveli - Crowd Control feat. Shakewell</span>
        </div>

        <div class="controls body-card">
            <button class="control-button"><ion-icon name="shuffle-sharp"></ion-icon></button>
            <button class="control-button"><ion-icon name="play-skip-back-sharp"></ion-icon></button>
            <button class="control-button button-play-pause"><ion-icon name="play-sharp"></ion-icon></button>
            <button class="control-button"><ion-icon name="play-skip-forward-sharp"></ion-icon></button>
            <div class="control-button control-button-repeat">
                <ion-icon name="repeat-sharp"></ion-icon>
                <div class="repeat-wrapper">
                    <button class="repeat-button">Track</button>
                    <button class="repeat-button">All</button>
                    <button class="repeat-button">None</button>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>