<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guilds</title>
    <base href="/"> 
    <script src="Js/Guild/loadView.js" defer></script>
    <link rel="stylesheet" href="Css/Guild/main.css">
</head>
<body>
    <h1 class="title">Choose Discord server</h1>

    <div class="elements-container">

    </div>

    <% if (guilds) { %>
        <script>
            guilds = atob('<%- guilds %>')
        </script>
    <% } %>
</body>
</html>